<nav class="flex items-center justify-between flex-wrap px-5 py-3">
  <a href="/" class="text-xs uppercase tracking-tight">0x0y</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url }}"
         class="text-xs uppercase py-1 px-2 rounded inline-block
         {{'bg-black text-white' if entry.url in page.url
         else 'text-gray-700 hover:text-gray-900'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
 </ul>
</nav>
