<div class="container pb-10 mt-10 px-6 black-p overflow-scroll">
  <div class="md:ml-10 md:mr-10 lg:w-1/2">
    <a href="https://nikolalamburov.com/"  target="_blank"><h1 class=" w-fit mb-2 text-xs  contact-text mt-12">NIKOLA LAMBUROV</h1>
    </a>
    <a href="https://nikolalamburov.com/"  target="_blank"> <img src="/img/11.png" class="w-full bw" alt="frontpage image" ></a>
  </div>
  <div class="md:ml-10 md:mr-10 lg:w-1/2  ">
    <a href="https://www.nayamoll.com/dramaturgy.html/"  target="_blank"><h1 class=" w-fit mb-2 text-xs contact-text mt-12">NAYA MOLL</h1>
    </a>
    <a href="https://www.nayamoll.com/dramaturgy.html"  target="_blank"> <img src="/img/14.png" class="w-full bw" alt="frontpage image" ></a>
  </div>
  <div class="md:ml-10 md:mr-10 lg:w-1/2 ">
    <a href="https://www.emancipatssionsfrugten.org//"  target="_blank"><h1 class=" w-fit mb-2 text-xs contact-text mt-12">emancipa(t/ss)ionsfrugten</h1>
    </a>
    <a href="https://www.emancipatssionsfrugten.org//"  target="_blank"> <img src="/img/2.png" class="w-full bw" alt="frontpage image" ></a>
  </div>
  <div class="md:ml-10 md:mr-10 lg:w-1/2 ">
    <a href="https://baghavenfilm.dk/"  target="_blank"><h1 class=" w-fit mb-2 text-xs contact-text mt-12">BAGHAVENFILM</h1>
    </a>
    <a href="https://baghavenfilm.dk/"  target="_blank"> <img src="/img/3.png" class="w-full bw" alt="frontpage image" ></a>
  </div>
</div>
