@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: monospace, system-ui, sans-serif;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.row-spacer {
  height: 24px;
}
.row-spacer2 {
  height: 200px;
}

.bw-2 {
  filter: grayscale(100%);
}


.project-h {
  color: rgb(0, 0, 0);
}


.contact-text {
  background-color: white;
}

.contact-logo {
  width: 50%;
}

@media screen(sm) {
  .push-left {
    margin-left: 50%;
  }

}


.black-p {
  position: fixed;
  bottom: 0;
  top: 325px;
  left: 0;
  background-color: black;
  padding: 0;
  margin: 0;
}
