<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
    <main class="main">
      {% include "../components/navigation.njk" %}
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
