---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---

<div class="w-full mt-[75px] mb-[75px] bg-white pb-[60px] pr-[60px]" >
  <div class="wrappe sm:grid sm:grid-cols-2 sm:gap-y-6 push-left">
  <div class="text-xs pb-4 pl-3 sm:pl-0 ">
    DESCRIPTION
  </div>
  <div class="text-xs max-w-[400px] items-end pl-3 sm:pl-0">
    <p class="break-word uppercase">
      0X0Y IS A COPENHAGEN BASED STUDIO. Focusing on visual identities, websites and other digital matter for cultural and commercial clients.
      <br><br>
      The studio’s broad goals are to underline the defining qualities of content and make available the richness of archives.
    </p>
  </div>
  <div class="text-xs pb-4 pl-3 sm:pl-0 ">
    <p>
      CONTACT
    </p>
  </div>
  <div class="text-xs  max-w-[400px] pl-3 sm:pl-0">
    HELLO@0X0Y-STUDIO.com
  </div>
  </div>
</div>
