---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---


  <div class="container flex block mx-auto max-w-4xl mt-20">
    <img src="/img/1.png" class="w-500" alt="frontpage image" >
  </div>
