---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---
<div class="columns">
  <div class="container h-screen">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 push-left">
      <div class="flex justify-end text-xs">ADDRESSE
      </div>
      <div class="flex justify-end text-xs">VERMLANDSGADE 61, 2300 COPENHAGEN</div>
    </div>
    <div class="row-spacer"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 push-left">
      <div class="flex justify-end text-xs">CONTACT
      </div>
      <div class="flex justify-end text-xs">HELLO@0X0Y-STUDIO.com</div>
    </div>
    <div class="row-spacer"></div>
    <a href="/work"  target="_blank"> <img src="/img/oxy-t3.png" class="w-500 bw-2 contact-logo" alt="frontpage image" ></a>

    <div class="row-spacer"></div>
    <div class=" w-screen overflow-scroll">
        <div class="flex">
    <div class="w-1/2 flex flex-col ">
      <div class="container  mx-auto mt-20 mb-20  max-w-2xl">
        </a>
        <!-- <a href="/"  target="_blank"> <img src="/img/oxy-t3.png" class="w-500 bw-2 contact-logo" alt="frontpage image" ></a> -->
      </div>
    </div>
    <div class="w-1/2">
    </div>
  </div>
</div>
