---
title: Home
layout: layouts/base.njk
---

<div class="columns">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 push-left">
      <div class=" flex justify-start text-xs">DESCRIPTION</div>
      <div class=" flex justify-start text-xs">0X0Y IS A COPENHAGEN BASED WEB/DESIGN DEVELOPMENT STUDIO.
        Focusing on visual identities, websites and other digital matter for cultural and commercial clients. The studio’s broad goals are to underline the defining qualities of content and make available the richness of archives.
      </div>
    </div>
    <div class="row-spacer"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 push-left">
      <div class="flex justify-start text-xs">CONTACT
      </div>
      <div class="flex justify-start text-xs">HELLO@0X0Y-STUDIO.com</div>
    </div>
    <div class="row-spacer"></div>
    <div class="row-spacer"></div>
    <div class="black-p w-screen h-screen ">
      <!-- <div class="line ">
        <div class="container  mx-auto mt-12 mb-12  max-w-2xl">
          <h1 class=" mb-2 text-xs project-h">EMANCIPATIONSFRUGTEN.ORG</h1>
          <img src="/img/2.png" class="" alt="frontpage image" >
        </div>
      </div> -->
  </div>
</div>
